[Desktop Entry]
Version=0.1
Name=DIALS
Comment=Runs DIALS GUI
Exec=/home/$USER/diffraview/start_app_dev.sh
Icon=/home/$USER/diffraview/client/src/assets/icon.ico
Terminal=false
Type=Application

